{% extends "base.html" %}

{% set pageTitle = "Sorry, there is a problem with the service" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        
        <p class="govuk-body">Try again later.</p>
        
        <p class="govuk-body">
            If you continue to have problems, 
            <a href="mailto:vetvisits@example.gov.uk" class="govuk-link">contact us</a> 
            and quote any error message you see.
        </p>
        
        <p class="govuk-body">
            <a href="/" class="govuk-link">Go to the vet visits registration start page</a>
        </p>
    </div>
</div>
{% endblock %}
