{% extends "layout.njk" %}

{% set showBackLink = true %}
{% set backLink = "/species-selection" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for fieldId, error in errors %}
            <li>
              <a href="#{{ fieldId }}">{{ error.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form method="post" action="/animal-counts" novalidate>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      
      <p class="govuk-body">
        Enter the number of animals you have in each category.
      </p>
      
      {% for species in speciesData %}
      <h2 class="govuk-heading-m">{{ species.name }}</h2>
      
      {% for subcategory in species.subcategories %}
      <div class="govuk-form-group{% if errors and errors[subcategory.id] %} govuk-form-group--error{% endif %}">        <label class="govuk-label" for="{{ subcategory.id }}">
          {{ subcategory.name }}
        </label>
        <div class="govuk-hint">
          Enter 0 if you don't have any {{ subcategory.name | lower }}.
        </div>
        {% if errors and errors[subcategory.id] %}
        <p id="{{ subcategory.id }}-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors[subcategory.id].text }}
        </p>
        {% endif %}
        <input class="govuk-input govuk-input--width-10{% if errors and errors[subcategory.id] %} govuk-input--error{% endif %}" 
               id="{{ subcategory.id }}" 
               name="{{ subcategory.id }}" 
               type="number" 
               min="0"
               {% if errors and errors[subcategory.id] %}aria-describedby="{{ subcategory.id }}-error"{% endif %}
               {% if formData and formData[subcategory.id] %}value="{{ formData[subcategory.id] }}"{% endif %}>
      </div>
      {% endfor %}
      
      {% if not loop.last %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% endif %}
      {% endfor %}
      
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
