{% extends "base.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="/species-selection">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if errors %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for fieldName, error in errors %}
                    <li>
                        <a href="#{{ fieldName }}">{{ error.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form class="form" action="/animal-counts" method="post">
            <h1 class="govuk-heading-l">How many animals do you have?</h1>
            
            <p class="govuk-body">Enter the number of animals you have in each category.</p>
            
            {% for species in selectedSpecies %}
            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            {{ species.name }}
                        </h2>
                    </legend>
                    
                    <div class="govuk-form-group">
                        {% for subcategory in species.subcategories %}
                        {% set fieldName = species.key + '_' + (subcategory | lower | replace(' ', '_')) %}
                        <div class="govuk-form-group{% if errors and errors[fieldName] %} govuk-form-group--error{% endif %}">
                            <label class="govuk-label" for="{{ fieldName }}">
                                {{ subcategory }}
                            </label>
                            {% if errors and errors[fieldName] %}
                            <p id="{{ fieldName }}-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                {{ errors[fieldName].text }}
                            </p>
                            {% endif %}
                            <input class="govuk-input govuk-input--width-5{% if errors and errors[fieldName] %} govuk-input--error{% endif %}" 
                                   id="{{ fieldName }}" 
                                   name="{{ fieldName }}" 
                                   type="number" 
                                   min="0"
                                   value="{{ values[fieldName] if values and values[fieldName] else '' }}"
                                   {% if errors and errors[fieldName] %}aria-describedby="{{ fieldName }}-error"{% endif %}>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
            {% endfor %}

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
    
    <div class="govuk-grid-column-one-third">
        <div class="govuk-inset-text">
            <p class="govuk-body-s">
                <strong>Help with counting</strong>
            </p>
            <p class="govuk-body-s">
                Enter 0 if you don't have any animals in a particular category.
            </p>
            <p class="govuk-body-s">
                Make sure your counts are accurate as they'll be used for planning the vet visit.
            </p>
        </div>
    </div>
</div>
{% endblock %}
