{% extends "layout.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Registration complete
      </h1>
      <div class="govuk-panel__body">
        Your animals have been registered<br>for veterinary visits
      </div>
    </div>
    
    <p class="govuk-body">
      We have registered the following animals for veterinary visits:
    </p>
    
    {% for species in confirmationData %}
    <h2 class="govuk-heading-m">{{ species.name }}</h2>
    
    <dl class="govuk-summary-list">
      {% for subcategory in species.subcategories %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ subcategory.name }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ subcategory.count }}
        </dd>
      </div>
      {% endfor %}      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <strong>Total {{ species.name | lower }}</strong>
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>{{ species.totalCount }}</strong>
        </dd>
      </div>
    </dl>
    
    {% if not loop.last %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endif %}
    {% endfor %}
    
    <h2 class="govuk-heading-m">What happens next</h2>
    
    <p class="govuk-body">
      Your registration has been recorded. A veterinarian will be assigned to your animals and will contact you to arrange visits.
    </p>
    
    <p class="govuk-body">
      You should expect to hear from us within 5 working days.
    </p>
    
    <div class="govuk-inset-text">
      <p>
        If you need to make changes to your registration, you'll need to contact us directly.
      </p>
      <p class="govuk-!-margin-bottom-0">
        Phone: 0300 123 4567<br>
        Email: <a href="mailto:vetvisits@gov.uk" class="govuk-link">vetvisits@gov.uk</a>
      </p>
    </div>
    
    <p class="govuk-body">
      <a href="/start-again" class="govuk-link">Register another set of animals</a>
    </p>
    
    <p class="govuk-body">
      <a href="/" class="govuk-link">Return to start page</a>
    </p>
  </div>
</div>
{% endblock %}
