{% extends "base.html" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            {% if errorCode == '404' %}
                Page not found
            {% else %}
                Sorry, there is a problem with the service
            {% endif %}
        </h1>
        
        {% if errorCode == '404' %}
            <p class="govuk-body">If you typed the web address, check it is correct.</p>
            <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
            <p class="govuk-body">If the web address is correct or you selected a link or button, <a class="govuk-link" href="#">contact the animal health team</a> if you need help with registering animals for vet visits.</p>
        {% else %}
            <p class="govuk-body">Try again later.</p>
            <p class="govuk-body">If you continue to have problems, <a class="govuk-link" href="#">contact the animal health team</a>.</p>
        {% endif %}
        
        <p class="govuk-body">
            <a class="govuk-link" href="/">Go to the start of the service</a>
        </p>
    </div>
</div>
{% endblock %}
