{% extends "layout.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    
    <p class="govuk-body-l">Use this service to register your animals for veterinary visits.</p>

    <!-- Navigation Menu -->
    <nav class="govuk-!-margin-bottom-8" aria-labelledby="menu-heading">
      <h2 class="govuk-heading-m" id="menu-heading">Quick access</h2>
      <ul class="govuk-list">
        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Animal health records</a></li>
        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Livestock movement tracker</a></li>
        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Vaccination schedules</a></li>
        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Emergency vet contacts</a></li>
        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Farm inspection reports</a></li>
        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Animal welfare guidance</a></li>
        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Feed safety alerts</a></li>
      </ul>
    </nav>
    
    <p class="govuk-body">You can use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>select the species of animals you have</li>
      <li>provide the number of animals in each category</li>
      <li>get confirmation of your registration</li>
    </ul>
    
    <div class="govuk-inset-text">
      You'll need to know the number of animals you have in each category.
    </div>
    
    <p class="govuk-body">Registering your animals takes around 5 minutes.</p>
    
    <a href="/species-selection" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
      </svg>
    </a>
    
    <h2 class="govuk-heading-m">Before you start</h2>
    
    <p class="govuk-body">Make sure you have:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>an accurate count of all your animals</li>
      <li>details of the different categories of animals you keep</li>
    </ul>
  </div>
  
  <div class="govuk-grid-column-one-third">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Animal health and welfare
            </a>
          </li>
          <li>
            <a href="#">
              Livestock identification
            </a>
          </li>
          <li>
            <a href="#">
              Farm animal welfare codes
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
