{% extends "layout.html" %}

{% block pageTitle %}Select animal species{% endblock %}

{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Register animals for vet visits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Select animal species
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for error in errors %}
                  <li>
                    <a href="{{ error.href }}">{{ error.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <form class="form" action="/species-selection" method="post">
        <div class="govuk-form-group{% if errors %} govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="species-hint{% if errors %} species-error{% endif %}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which species of animals do you have?
              </h1>
            </legend>
            <div id="species-hint" class="govuk-hint">
              Select all that apply.
            </div>
            {% if errors %}
              <p id="species-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                Select at least one species of animal you have
              </p>
            {% endif %}
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              {% for speciesItem in species %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="species-{{ speciesItem.key }}" name="species" type="checkbox" value="{{ speciesItem.key }}"{% if selectedSpecies and speciesItem.key in selectedSpecies %} checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="species-{{ speciesItem.key }}">
                    {{ speciesItem.name }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}
